<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div>
		<h4 class="title">Inserisci Allievo</h4>
		<p th:text="${exists}"></p>
	</div>
	<form th:action="@{/allievo}" method="POST" th:object="${allievo}">
		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{nome}" /></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
			</tr>
			<tr>
				<td>Cognome:</td>
				<td><input type="text" th:field="*{cognome}" /></td>
				<td th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></td>
			</tr>
			<tr>
				<td>Data di nascita (gg/mm/aaaa):</td>
				<td><input type="text" th:field="*{dataDiNascita}" /></td>
				<td th:if="${#fields.hasErrors('dataDiNascita')}"
					th:errors="*{dataDiNascita}"></td>
			</tr>
			<tr>
				<td>Luogo di nascita:</td>
				<td><input type="text" th:field="*{luogoDiNascita}" /></td>
				<td th:if="${#fields.hasErrors('luogoDiNascita')}"
					th:errors="*{luogoDiNascita}"></td>
			</tr>
			<tr>
				<td>E-mail:</td>
				<td><input type="text" th:field="*{email}" /></td>
				<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
			</tr>
			<tr>
				<td>Telefono:</td>
				<td><input type="text" th:field="*{telefono}" /></td>
				<td th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></td>
			</tr>
			<tr>
				<td><button type="submit">Invia</button></td>
			</tr>
		</table>
	</form>
</body>
</html>