<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div>
		<h4 class="title">Inserisci Attivita'</h4>
		<p th:text="${exists}"></p>
	</div>
	<form th:action="@{/attivita}" method="POST" th:object="${attivita}">
		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{nome}" /></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
			</tr>
			<tr>
				<td>Data e ora (gg/mm/aaaa hh:mm):</td>
				<td><input type="text" th:field="*{dataOra}" /></td>
				<td th:if="${#fields.hasErrors('dataOra')}" th:errors="*{dataOra}"></td>
			</tr>
			<tr>
				<td><button type="submit">Invia</button></td>
			</tr>
		</table>
	</form>
</body>
</html>