<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Main Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<a th:href="@{/addCentro}">Inserisci nuovo centro</a>
	<a th:href="@{/centri}">Inserisci nuova attività</a>
	<a th:href="@{/listaAttivita}">Nuova iscrizione</a>
</body>
</html>