<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Attivita'</title>
</head>
<body>
	<div>
		<h4>Attivita'</h4>
		<div>
			<span th:text="${attivita.nome}"></span>
		</div>
		<div>
			<span th:text="${attivita.dataOra}"></span>
		</div>
	</div>
	<div>
		<h4 class="title">Inserisci Allievo</h4>
		<p th:text="${exists}"></p>
	</div>
	<form th:action="@{'/iscrizione' + '/' + ${attivita.id}}" method="POST" th:object="${allievo}">
		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{nome}" /></td>
			</tr>
			<tr>
				<td>Cognome:</td>
				<td><input type="text" th:field="*{cognome}" /></td>
			</tr>
			<tr>
				<td><button type="submit">Invia</button></td>
			</tr>
		</table>
	</form>
</body>
</html>