<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Attivita'</title>
</head>
<body>
	<div>
		<h4>Attivita'</h4>
		<div>
			<table>
				<tr>
					<th>Nome</th>
				</tr>
				<tr th:each="attivita : ${listaAttivita}">
					<td><a th:href="@{'/attivita' + '/' + ${attivita.id}}"><span
							th:text="${attivita.nome}"></span></a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>