<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Allievo</title>
</head>
<body>
	<div>
		<h4>Allievo</h4>
		<div>
			<span th:text="${allievo.nome}"></span>
		</div>
		<div>
			<span th:text="${allievo.cognome}"></span>
		</div>
		<div>
			<span th:text="${allievo.dataDiNascita}"></span>
		</div>
		<div>
			<span th:text="${allievo.luogoDiNascita}"></span>
		</div>
		<div>
			<span th:text="${allievo.email}"></span>
		</div>
		<div>
			<span th:text="${allievo.telefono}"></span>
		</div>
	</div>
</body>
</html>